<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{NOMBRE}}</title>

<meta name="description" content="{{DESCRIPCION}}">

<!-- OPEN GRAPH -->
<meta property="og:title" content="{{NOMBRE}}">
<meta property="og:description" content="{{DESCRIPCION}}">
<meta property="og:image" content="{{IMAGENOG}}">
<meta property="og:type" content="product">
<meta property="og:url" content="{{URL}}">
<meta property="og:site_name" content="REVISTALOGO">

<!-- TWITTER CARD -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{NOMBRE}}">
<meta name="twitter:description" content="{{DESCRIPCION}}">
<meta name="twitter:image" content="{{IMAGENOG}}">

<!-- SEO PRODUCTO -->
<script type="application/ld+json">
{
 "@context": "https://schema.org",
 "@type": "Product",
 "name": "{{NOMBRE}}",
 "image": "{{IMAGENOG}}",
 "description": "{{DESCRIPCION}}",
 "offers": {
   "@type": "Offer",
   "priceCurrency": "COP",
   "price": "{{PRECIO}}",
   "availability": "https://schema.org/InStock",
   "url": "{{URL}}"
 }
}
</script>

<link rel="stylesheet" href="../css/style.css">